.qa_container {
  margin: 1rem;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.bar-item-container {
  display: inline-block;
  min-width: 5.5rem;
  height: 2.5rem;
  padding: 0.5rem;
  margin: 0.25rem;
  text-align: center;
  transition: width 1s;
}

.bar-item-text {
  text-transform: capitalize;
}

@media screen and (max-width: 768px) {
  .bar-item-container {
    min-width: 2.5rem;
  }

  .bar-item-text {
    display: none;
  }
}
