.palette-container {
  margin: 1.5em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px 20px;
}

@media screen and (max-width: 768px) {
  .palette-container {
    margin: 1.8em;
    grid-template-columns: 1fr;
  }
}
